.contact-me, .content-one, .content-two{
    border: 3px solid #BFB78F;
}
.contact-me{
    width: 1039px;
    height: 99vh;
    background-color: #011F26;
    float: left;
    margin-left: 500px;
    margin-top: -207px;
    border-radius: 60px;
}

.content-one{
    width: 830px;
    height: 90px;
    background-color: #025E73;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 60px 60px;
    text-align: center;
    border-top: 3px solid #025E73;
    margin-top: -4px;
}

.content-one h1{
    font-size: 32px;
    color: white;
    margin-top: 20px;
}

.contact-me-on-social-media{
    width: 100px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    align-content: space-between;
    margin-bottom: 13px;
}

.content-two{
    background-color: #025E73;
    text-align: center;
    padding: 10px;
    border-bottom: 3px solid #025E73;
    margin-left: auto;
    margin-right: auto;
    width: 830px;
    height: 270px;
    border-radius: 60px 60px 0px 0px;
    margin-bottom: -30px;
}

.content-two h1 , .content-two p{
    font-size: 32px;
    color: white;
}

.content-two h1{
    color: #F2A71B;
    margin-bottom: 20px;
}







